.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    height: 100px;
}

.header .company{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.header .company-title{
    background-color: #ffffff;
    padding: 7% 10%;
}

.header .company-icon{
    background-color: #ffffff;
    padding: 7% 10%;


}