.right{
    background-color: #ffffff;
    padding: 3rem 4rem;
}


.right .right-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right .right-header h2{
    font-size: 20px;
    letter-spacing: 1.2px;
    line-height: 1px;
}
.right-header .plan{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid #000;
    padding: .3rem .9rem;
    border-radius: 80px;
}
.right-header .plan h5{
    font-size: 12px;
    font-weight: 200;
    padding: .4rem .9rem;
    border-radius: 50px;

}
.plan .monthly{
    background-color: #c9e4ff;

}
.plan .annually{
    background-color: #c9e4ff;

}


.right .right-content{
    display: grid;
    grid-template-rows:repeat(2,2fr);
}
.right .right-content .rowone{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 4rem;
    padding: 2rem 0;
    height: fit-content;

}

.right .right-content .rowone .basic{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 10px;
       


}




.basic h2{
    margin-bottom: .5rem;
}

.standard h2{
    margin-bottom: .5rem;
 
}

.premium h2{
    margin-bottom: .5rem;

}




.basic h4{
    font-size: 25px;
    font-weight: 300;
    margin-top: .2rem;
    margin-bottom: .5rem;
}

.standard h4{
    font-size: 25px;
    font-weight: 300;
    margin-top: .2rem;

    margin-bottom: .5rem;
}

.premium h4{
    font-size: 25px;
    font-weight: 300;
    margin-top: .2rem;

    margin-bottom: .5rem;
}

 .basic-feature{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.basic-feature .feature-content{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content:flex-start;
    gap: 1rem;
    margin-bottom: .5rem;
}

.basic button{
    background-color: #ffe7a9;
    color: #000;
    border: none;
    font-size: 9px;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.standard button{
    background-color: #fe9494;
    color: #000;
    border: none;
    font-size: 9px;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.premium button{
    background-color: #d494e9;
    color: #000;
    border: none;
    font-size: 9px;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.basic button:hover{
    background-color: #f6d88c;
}
.standard button:hover{
    background-color: #f87474;

}
.premium button:hover{
    background-color: #d27eee;

}
button:hover .arrow{
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    -ms-transform: translateX(4px);
    -o-transform: translateX(4px);
    transform: translateX(4px); 
}

button .arrow {
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    cursor: pointer;
  }

  .basic-title{
    width: 100%;
    border-bottom: 2px solid #ddd;
  
  }







  /* toggele */


  label {
    font-size: 13px;
    color: #424242;
    font-weight: 500;
}

.btn-color-mode-switch{
    display: inline-block;
    margin: 0px;
    position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner{
    margin: 0px;
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 26px;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    /*box-shadow: 0px 0px 8px 0px rgba(17, 17, 17, 0.34) inset;*/
    display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before{
    content: attr(data-on);
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 7px;
    right: 20px;

}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after{
    content: attr(data-off);
    width: 70px;
    height: 16px;
    background: #c9e4ff;
    border-radius: 26px;
    position: absolute;
    left: 2px;
    top: 2px;
    text-align: center;
    transition: all 0.3s ease;
    padding: 5px 0px;
}

.btn-color-mode-switch > .alert{
    display: none;
    background: #FF9800;
    border: none;
    color: #fff;
}

.btn-color-mode-switch input[type="checkbox"]{
    cursor: pointer;
    width: 50px;
    height: 25px;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    
    color: #000;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after{
    content: attr(data-on);
    left: 68px;
    background: #c9e4ff;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before{
    content: attr(data-off);
    right: auto;
    left: 20px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner{
    /*background: #66BB6A; */
    /*color: #fff;*/
}

.btn-color-mode-switch input[type="checkbox"]:checked ~ .alert{
    display: block;
}


  
  

.right .right-content .rowone .standard{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;

}

.right .right-content .rowone .premium{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;

}

.right .right-content .rowtwo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 2rem;
    padding: 2rem 0;
   height: fit-content;

}

.right .right-content .rowtwo .starter{
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
   display: grid;
   grid-template-columns: 40% auto;
 column-gap: 1rem;
}




.starter .starter-title .badge{
    background-color:#c6ff8e;
    font-size: 9px;
    padding: .3rem .5rem;
    border-radius: 50px;


}

.enterprise .starter-title .badge{
    background-color:#85b1f3;
    font-size: 9px;
    padding: .3rem .5rem;
    border-radius: 50px;


}
.enterprise .starter-title button{
    background-color: #85b1f3;

}

 .starter-title button{
    background-color: #c6ff8e;
    color: #000;
    border: none;
    font-size: 9px;
    padding: .5rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.starter-title h2{
   margin-top: .5rem;
    margin-bottom: .5rem;
}


.starter-title .text{
    font-size: 10px;
    margin-bottom: 1rem;

}

.starter-feature{
    width: 100%;
    display: inline-flex;
    /* justify-content: center; */
    align-items: flex-start;
    flex-direction: column;
    padding: 1rem;
}

.starter-feature .feature-content{
    width: 100%;
    display: inline-flex;
    align-items: flex-start;
    justify-content:flex-start;
    gap: 1rem;
    font-size: 10px;
    margin-bottom: .5rem;
}

.right .right-content .rowtwo .enterprise{
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% auto;
  column-gap: 1rem;
}

/* .right .right-content .rowtwo .feature{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
} */

@media (max-width: 1176px) {

    

}

@media (max-width: 927px) {
    .right .right-content .rowone{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 586px) {
    .right .right-content .rowone{
        grid-template-columns: repeat(1,1fr);
    }

    .right .right-content .rowtwo{
        grid-template-columns: repeat(1,1fr);

    }
}