.interface{
  min-height: 100vh;
  overflow: hidden;
  background-color: #e3f1fe;
}

.interface .inter-content{
      display: grid;
      grid-template-columns: 15% auto;
      padding: 3rem 3rem 0 0;
  
     height: 95vh;
}

.hamburger{
  display: none;
  position: absolute;
  top: 4%;
  right: 4%;
}



/* Responsive */
@media (max-width: 1176px) {
    
 .interface .inter-content{
  grid-template-columns: auto;
 }

 .hamburger{
  display: block;
}

.interface .inter-content{
  padding: 1.5rem;
}
}