.interface{
  min-height: 100vh;
  overflow: hidden;
  background-color: #e3f1fe;
}

.interface .inter-content{
      display: grid;
      grid-template-columns: 15% 82% auto;
    padding: 2rem 0;
  
   
}

.hamburger{
  display: none;
  position: absolute;
  top: 4%;
  right: 4%;
  z-index: 10;
}



/* Responsive */
@media (max-width: 1176px) {
    
 .interface .inter-content{
  grid-template-columns: auto;
  padding: 0;
  
 }

 .hamburger{
  display: block;
}


}






